#pokemon-icon-display img {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.return-button {
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration:none;
}

.return-button:hover {
    background-color: #d32f2f;
}
